{% load i18n humanize %}
{% load static %}
{% load in_list %}
<div class="alert alert-dismissible fade show py-3 px-4 mb-3 shadow-sm border-0" role="alert" style="background-color: rgba(0,0,0,.06);">
    <div class="form-row align-items-center">
        <div class="col-auto pr-0">
            <label for="id_statuses" class="col-form-label font-weight-bold mb-0 text-uppercase small text-secondary">
                <i class="fas fa-tasks mr-1"></i>{% trans "Status(es)" %}:
            </label>
        </div>
        <div class="col-auto">
            <select id="id_statuses" name="status" multiple="selected" size="5" class="custom-select custom-select-sm border-0 bg-light">
                {% for s in status_choices %}
                    <option value="{{ s.0 }}"{% if s.0|in_list:query_params.filtering.status__in %} selected="selected"{% endif %}>{{ s.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="button" class="filterBuilderRemove close ml-3" data-dismiss="alert" aria-label="{% trans "Close" %}">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr class="my-2">
    <div class="form-row">
        <div class="col">
            <small class="text-muted filterHelp">{% trans "Ctrl-click to select multiple options" %}</small>
        </div>
    </div>
</div>
